antlr4-python3-runtime==4.8
audioread==3.0.1
bitarray==3.7.2
certifi==2022.12.7
cffi==2.0.0
charset-normalizer==2.1.1
cmake==3.25.0
colorama==0.4.6
Cython==0.29.36
decorator==5.2.1
-e git+https://github.com/facebookresearch/fairseq.git@3d262bb25690e4eb2e7d3c1309b1e9c406ca4b99#egg=fairseq
filelock==3.19.1
hydra-core==1.0.7
idna==3.4
Jinja2==3.1.6
joblib==1.5.2
lazy_loader==0.4
librosa==0.10.1
lit==15.0.7
llvmlite==0.41.1
lxml==6.0.2
MarkupSafe==2.1.5
mpmath==1.3.0
msgpack==1.1.2
networkx==3.3
numba==0.58.1
numpy==1.26.4
omegaconf==2.0.6
packaging==25.0
pandas==2.1.4
pillow==11.3.0
platformdirs==4.5.0
pooch==1.8.2
portalocker==3.2.0
pycparser==2.23
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
regex==2025.9.18
requests==2.28.1
sacrebleu==2.5.1
scikit-learn==1.7.2
scipy==1.11.4
six==1.17.0
soundfile==0.12.1
soxr==1.0.0
sympy==1.14.0
tabulate==0.9.0
threadpoolctl==3.6.0
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tqdm==4.66.4
triton==2.0.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==1.26.13
